@import '../node_modules/leaflet/dist/leaflet.css';
$primary-color: white;
$bg: #204a79;
$fontFamily: 'Roboto';

strong {
  color: $primary-color;
  background-color: $bg;
  font-family: $fontFamily;
}

info {
  font-family: $fontFamily;
}

#map {
  height: 1000px;
  width: 1000px;
  cursor: crosshair;
}

.cursorCoordinates {
  font-size: 1.5rem;
}

svg {
  overflow: visible;
}
